@font-face{
	font-family: 'OpenSans-Regular';
	src: url("fonts/OpenSans-Regular.ttf");
}
@font-face{
	font-family: 'OpenSans-Bold';
	src: url("fonts/OpenSans-Bold.ttf");
}
body{
	margin: 0;
}
.cabecalho{
	width: 100%;
	height: 71vh;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.cabecalhoHome{
	background: url(assets/ft-header.jpg) no-repeat center;
	background-size: cover;
}
.cabecalho-logo{
	width: 16%;
	margin: 5% 7%; 
}
.cabecalho-menu{
	margin: 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.menu-item{
	font-size: 40px;
	color: #000;
	height: 18%;
	margin: 1% 5px;
	padding: 10px 15px;
	background-color: rgba(255, 255, 255, 0.75);
	font-family: 'OpenSans-Bold';
	border-radius: 50px;
	text-decoration:none;
}

@media(max-width: 640px){
	.cabecalho-menu{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.menu-item{
		font-size: 20px;
	}
	.cabecalho-logo{
		width: 25%;
	}
}

.conteudoHome-sessao{
	width: 100%;
	background-color: #000;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	position: relative;
}
.conteudoHome-titulo{
	width: 100%;
	padding-top: 2%;
	margin-bottom: 1%;
	font-family: 'OpenSans-Bold';
	font-size: 45px;
	color: #fff;
	text-align: center;
}
.conteudoHome-quadro{
	width: 55%;
	height: 120vh;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: absolute;
	top: 40px;
	left: 300px;
	border: solid 5px #fff;
	z-index: 1;
}
.quadro-texto{
	width: 31%;
	padding: 2%;
	font-size: 30px;
	font-family: 'OpenSans-Bold';
	text-decoration:none;
	color: #fff;
	position: absolute;
}
.conteudoHome-foto{
	width: 48%;
	margin: 0.7%;
}
.caixafotos{
	width: 49%;
	display: flex;
	flex-direction: column;
}
.caixafotos-fotos1{
	width: 100%;
	margin-bottom: 2.5%;
}
.caixafotos-fotos2{
	width: 100%;
	margin-top: 2.5%;
}
.conteudoHome-texto{
	display: none;
}

@media (max-width: 700px){
	.conteudoHome-sessao{
		display: flex;
		flex-direction: column;
	}
	.conteudoHome-foto{
		width: 98%;
	}
	.caixafotos-fotos1{
		margin-bottom: 0.6%; 
	}
	.caixafotos-fotos2{
		margin-top: 0.6%;
	}
	.conteudoHome-quadro{
		display: none;
	}
	.conteudoHome-texto{
		width: 97%;
		font-family: 'OpenSans-Bold';
		text-decoration:none;
		color: #fff;
		display: flex;
		justify-content: flex-end;
	}
}

.rodape{
	width: 100%;
	height: 40vh;
	background-color: #000;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}
.rodapeHome{
	background: url(fotos/foto02.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
}
.rodapeHome-texto{
	width: 50%;
	font-size: 32px;
	font-family: 'OpenSans-Bold';
	color: #fff;
	margin-left: 2%;
}
.rodapeHome-redes{
	width: 25%;
	margin-top: 2%;
}
.redes-logos{
	width: 20%;
	margin: 1%;
}
.creditos{
	width: 100%;
	height: 5vh;
	text-align: center;
	font-family: 'OpenSans-Regular';
	font-size: 20px;
	position: absolute;
	bottom: 0;
	margin: 0;
}
.creditos-home{
	background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 700px){
	.rodapeHome{
		background: #000;
		display: flex;
		flex-wrap: wrap-reverse;
	}
	.rodapeHome-texto{
		width: 100%;
		height: 20vh;
		font-size: 20px;
		font-family: 'OpenSans-Bold';
		color: #fff;
		text-align: center;
		margin: 0 2% 2% 2%;
	}
	.rodapeHome-redes{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.redes-logos{
		width: 13%;
	}
	.creditos-home{
		background-color: #000;
		font-size: 13px;
		color: #fff;
	}
}

.cabecalhoContato{
	background-color: #a52a2a;
	height: 45vh;
}
.conteudoContato{
	width: 100%;
	min-height: 50vh;
	background: #a52a2a;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}
.conteudoContato-localizacao{
	width: 50%;
	min-width: 400px;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.localizacao-logo{
	width: 18%;
	margin-left: 10%; 
}
.localizacao-texto{
	font-size: 25px;
	color: #fff;
	font-family: 'OpenSans-Regular';
	margin-left: 10%;
}
.conteudoContato-formulario{
	width: 50%;
	min-width: 400px;
	min-height: 90vh;
}
.formulario-titulo{
	width: 97%;
	height: 10vh;
	margin-bottom: 1%; 
	font-size: 50px;
	font-family: 'OpenSans-Bold';
	color: #fff;
	display: flex;;
	justify-content: flex-end;
}
.formulario{
	display: flex;
	flex-direction: column;
	margin-right: 3%;
}
.formulario-dados{
	font-size: 30px;
	font-family: 'OpenSans-Regular';
	color: #fff;
	margin: 0;
}
.formulario-caixaTexto{
	width: 100%;
	height: 5vh;
	border: 1px solid #000;
	background: #fff;
	font-size: 25px;
	font-family: 'OpenSans-Regular';
	color: #000;
}
.formulario-caixaMensagem{
	width: 100%;
	height: 25vh;
	background: #fff;
	font-size: 25px;
	font-family: 'OpenSans-Regular';
	color: #000;
	border: 1px solid #000;
}
.formulario-botão{
	font-size: 17px;
	font-family: 'OpenSans-Regular';
	align-self: flex-end;
}

@media (max-width: 700px){
	.conteudoContato{
		height: auto;
		justify-content: center;
		align-items: center;
	}
	.conteudoContato-localizacao{
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;
	}
	.localizacao-logo{
		margin: 0;
		margin-bottom: 3%;
	}
	.localizacao-texto{
		margin: 0;
		text-align: center;
	}
	.conteudoContato-formulario{
		width: 80%;
		min-width: auto;
	}
	.formulario-titulo{
		justify-content: center;
		align-items: center;
		font-size: 45px;
	}
	.formulario{
		margin: 0;
	}
}

.rodadeContato{
	background-color: #a52a2a;
}
.rodadeContato-caixa{
	width: 35%;
	display: flex;
	justify-content: flex-start;
}
.rodadeContato-realizacao{
	width: 40%;
}
.realizacao-titulo{
	font-size: 25px;
	font-family: 'OpenSans-Regular';
	color: #fff;
	margin-left: 10%;
}
.realizacao-logo{
	width: 60%;
	margin-left: 10%;
}
.rodadeContato-apoio{
	width: 60%;
}
.apoio-titulo{
	width: 100%;
	font-size: 25px;
	font-family: 'OpenSans-Regular';
	color: #fff;
	margin-left:10px;
}
.apoio-logo{
	width: 60%;
	padding-bottom: 10%;
	margin-right: 5%;
}
.apoio-logo2{
	width: 30%;
}

@media (max-width: 700px){
	
}

.cabecalhoGaleria{
	background-color: #000;
	height: 50vh;
}
.conteudoGaleria{
	width: 100%;
	min-height: 120vh;
	background-color: #000;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}
.conteudoGaleria-titulo{
	width: 100%;
	background-color: #000;
	font-family: 'OpenSans-Bold';
	text-align: center;
	color: #fff;
	font-size: 30px;
}
.conteudoGaleria-caixa{
	width: 100%;
	margin: 0 10% 0 10%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap; 
}
.caixa-fotos{
	height: 32vh;
	margin: 5px;
}
.rodapeGaleria{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
}
.creditos-galeria{
	color: #fff;
}

@media (max-width: 700px){
	.conteudoGaleria-caixa{
		width: 100%;
		align-items: center;
		margin: 0;
	}
	.caixa-fotos{
		width: 95%;
		height: auto;
	}
	.creditos-galeria{
		font-size: 13px;
	}
}